<div class="relative flex flex-col flex-auto sm:px-12">
  <form [formGroup]="form" (ngSubmit)="onSave()" novalidate>
    <div class="flex flex-col min-h-screen">
      <div class="flex-1">
        <!-- Date -->
        <div class="m-2">
          <label for="date" class="block text-sm font-medium text-gray-700"
            >Date</label
          >
          <div class="mt-1 relative rounded-md shadow-sm">
            <input
              formControlName="date"
              type="text"
              name="date"
              id="date"
              matInput
              [matDatepicker]="picker"
              class="
                focus:ring-indigo-500
                focus:border-indigo-500
                block
                w-full
                pr-12
                sm:text-sm
                border-gray-300
                rounded-md
                p-2
              "
            />
            <div class="absolute inset-y-0 right-0 pr-3 flex items-center">
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </div>
          </div>
        </div>

        <!-- Title -->
        <div class="m-2">
          <label for="title" class="block text-sm font-medium text-gray-700"
            >Title</label
          >
          <div class="mt-1">
            <input
              formControlName="title"
              type="text"
              name="title"
              id="title"
              class="
                focus:ring-indigo-500
                focus:border-indigo-500block
                w-full
                sm:text-sm
                border-gray-300
                rounded-md
                p-2
              "
            />
          </div>
        </div>

        <!-- Category -->
        <div class="m-2">
          <label for="category" class="block text-sm font-medium text-gray-700">
            Category
          </label>
          <div class="mt-1">
            <select
              formControlName="category"
              id="category"
              name="category"
              autocomplete="category"
              class="
                focus:ring-indigo-500
                focus:border-indigo-500block
                w-full
                sm:text-sm
                border-gray-300
                rounded-md
                p-2
              "
            >
              <option></option>
              <option *ngFor="let category of categories">
                {{ category.name }}
              </option>
            </select>
          </div>
        </div>

        <!-- Amount -->
        <div class="m-2">
          <label for="amount" class="block text-sm font-medium text-gray-700"
            >Amount</label
          >
          <div class="mt-1 relative rounded-md shadow-sm">
            <div
              class="
                absolute
                inset-y-0
                left-0
                items-center
                pointer-events-none
                p-2
              "
            >
              <span class="text-gray-500 sm:text-sm"> ₱ </span>
            </div>
            <input
              formControlName="amount"
              type="text"
              name="amount"
              id="amount"
              class="
                focus:ring-indigo-500
                focus:border-indigo-500
                block
                w-full
                pl-7
                pr-12
                sm:text-sm
                border-gray-300
                rounded-md
              "
              placeholder="0.00"
              aria-describedby="price-currency"
            />
            <div
              class="
                absolute
                inset-y-0
                right-0
                pr-3
                flex
                items-center
                pointer-events-none
              "
            >
              <span class="text-gray-500 sm:text-sm" id="price-currency">
                PHP
              </span>
            </div>
          </div>
        </div>

        <!-- Notes -->
        <div class="m-2">
          <label for="notes" class="block text-sm font-medium text-gray-700"
            >Notes</label
          >
          <div class="mt-1">
            <textarea
              formControlName="notes"
              rows="2"
              class="
                focus:ring-indigo-500
                focus:border-indigo-500block
                w-full
                sm:text-sm
                border-gray-300
                rounded-md
                p-2
              "
            ></textarea>
          </div>
        </div>
      </div>

      <!-- Actions -->
      <div
        class="
          flex
          items-center
          mt-10
          -mx-6
          sm:-mx-12
          py-4
          pr-8
          pl-6
          sm:pr-12
          sm:pl-10
          border-t
          bg-gray-50
          dark:bg-transparent
        "
      >
        <!-- Delete -->
        <button>Delete</button>
        <!-- Cancel -->
        <button class="ml-auto pr-2" (click)="onCancel()">Cancel</button>
        <!-- Save -->
        <button
          type="submit"
          class="
            ml-2
            py-2
            px-4
            border border-transparent
            rounded-md
            shadow-sm
            text-sm
            font-medium
            text-white
            bg-indigo-600
            hover:bg-indigo-700
            focus:outline-none
            focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
          "
        >
          <i class="las la-save text-lg"></i>
          Save
        </button>
      </div>
    </div>
  </form>
</div>
