<div class="relative">
  <ng-container *ngIf="data.length; else noData">
    <ng-container *ngFor="let transaction of data; let i = index">
      <!-- Group -->
      <ng-container *ngIf="i === 0 || transaction.date !== data[i - 1].date">
        <div
          class="
            z-10
            sticky
            top-0
            border-t border-b border-gray-200
            bg-gray-50
            px-6
            py-1
            text-sm
            font-medium
            text-gray-500
            w-full
          "
        >
          <h3>{{ transaction.date }}</h3>
        </div>
      </ng-container>
      <div
        class="
          z-20
          flex
          items-center
          px-6
          py-4
          md:px-8
          cursor-pointer
          hover:bg-hover hover:bg-gray-50
          border-b
        "
      >
        <div class="flex flex-col flex-1">
          <div class="font-medium leading-5 truncate">
            {{ transaction.title }}
          </div>
          <div class="text-sm text-gray-500">
            {{ transaction.category }}
          </div>
        </div>
        <div class="flex items-center justify-end w-full h-full font-semibold">
          <span *ngIf="transaction.type === 'expense'">-</span
          >{{ transaction.amount | currency: "₱" }}
        </div>
      </div>
    </ng-container>
  </ng-container>

  <!-- No Data -->
  <ng-template #noData>
    <div
      class="
        p-8
        sm:p-16
        border-t
        text-4xl
        font-semibold
        tracking-tight
        text-center
      "
    >
      There are no transactions!
    </div>
  </ng-template>
</div>
