<div class="flex flex-col flex-auto bg-card shadow rounded overflow-hidden">
  <div class="p-6">
    <div class="font-bold text-md text-secondary uppercase tracking-wider">
      Recent transactions
    </div>
    <!-- Summary Text Goes Here -->
  </div>
  <div class="overflow-auto">
    <table
      class="w-full bg-transparent"
      mat-table
      matSort
      [dataSource]="transactions"
      [trackBy]="trackByFn"
      #recentTransactionsTable
    >
      <!-- Transaction ID -->
      <ng-container matColumnDef="transactionId">
        <th
          class="bg-gray-50 dark:bg-gray-700 dark:bg-opacity-50 border-t"
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
        >
          <span class="whitespace-nowrap"> Transaction ID </span>
        </th>
        <td mat-cell *matCellDef="let transaction">
          <span
            class="pr-6 font-medium text-sm text-secondary whitespace-nowrap"
          >
            {{ transaction.transactionId }}
          </span>
        </td>
      </ng-container>

      <!-- Date -->
      <ng-container matColumnDef="date">
        <th
          class="bg-gray-50 dark:bg-gray-700 dark:bg-opacity-50 border-t"
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
        >
          <span class="whitespace-nowrap"> Date </span>
        </th>
        <td mat-cell *matCellDef="let transaction">
          <span class="pr-6 whitespace-nowrap">
            {{ transaction.date | date: "MMMM d, y" }}
          </span>
        </td>
      </ng-container>

      <!-- Type -->
      <ng-container matColumnDef="type">
        <th
          class="bg-gray-50 dark:bg-gray-700 dark:bg-opacity-50 border-t"
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
        >
          <span class="whitespace-nowrap"> Type </span>
        </th>
        <td mat-cell *matCellDef="let transaction">
          <span
            class="
              inline-flex
              items-center
              font-bold
              text-xs
              px-2
              py-0.5
              rounded-full
              tracking-wide
              uppercase
            "
            [ngClass]="{
              'bg-red-100 text-red-800': transaction.type === 'expense',
              'bg-green-100 text-green-800': transaction.type === 'income'
            }"
          >
            <span
              class="w-2 h-2 rounded-full mr-2"
              [ngClass]="{
                'bg-red-600': transaction.type === 'expense',
                'bg-green-600': transaction.type === 'income'
              }"
            ></span>
            <span class="pr-0.5 leading-relaxed whitespace-nowrap">{{
              transaction.type
            }}</span>
          </span>
        </td>
      </ng-container>

      <!-- Category -->
      <ng-container matColumnDef="category">
        <th
          class="bg-gray-50 dark:bg-gray-700 dark:bg-opacity-50 border-t"
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
        >
          <span class="whitespace-nowrap"> Category </span>
        </th>
        <td mat-cell *matCellDef="let transaction">
          <span class="pr-6 whitespace-nowrap">
            {{ transaction.category }}
          </span>
        </td>
      </ng-container>

      <!-- Title -->
      <ng-container matColumnDef="title">
        <th
          class="bg-gray-50 dark:bg-gray-700 dark:bg-opacity-50 border-t"
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
        >
          <span class="whitespace-nowrap"> Title </span>
        </th>
        <td mat-cell *matCellDef="let transaction">
          <span class="pr-6 whitespace-nowrap">
            {{ transaction.title }}
          </span>
        </td>
      </ng-container>

      <!-- Amount -->
      <ng-container matColumnDef="amount">
        <th
          class="bg-gray-50 dark:bg-gray-700 dark:bg-opacity-50 border-t"
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
        >
          <span class="whitespace-nowrap"> Amount </span>
        </th>
        <td mat-cell *matCellDef="let transaction">
          <span class="pr-6 font-medium whitespace-nowrap">
            {{ transaction.amount | currency: "₱" }}
          </span>
        </td>
      </ng-container>

      <!-- Footer -->
      <ng-container matColumnDef="recentOrdersTableFooter">
        <td
          class="px-3 border-none"
          mat-footer-cell
          *matFooterCellDef
          colspan="6"
        >
          <a
            [routerLink]="['/transactions']"
            class="font-medium text-indigo-600 hover:text-indigo-500"
            >See all transactions</a
          >
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr
        class="order-row h-16"
        mat-row
        *matRowDef="let row; columns: columns"
      ></tr>
      <tr
        class="h-16"
        mat-footer-row
        *matFooterRowDef="['recentOrdersTableFooter']"
      ></tr>
    </table>
  </div>
</div>
