<div
  class="
    relative
    bg-white
    pt-5
    px-4
    pb-12
    sm:pt-6 sm:px-6
    shadow
    rounded-lg
    overflow-hidden
  "
>
  <div class="absolute bg-indigo-500 rounded-md p-3 text-white">
    <i class="{{ icon }}"></i>
  </div>
  <p class="ml-16 text-sm font-medium text-gray-500 truncate">
    {{ title }}
  </p>
  <div class="ml-16 pb-6 flex items-baseline sm:pb-7">
    <p class="text-2xl font-semibold text-gray-900">
      {{ amount | currency: "₱" }}
    </p>

    <div class="absolute bottom-0 inset-x-0 bg-gray-50 px-4 py-4 sm:px-6">
      <div class="text-sm">
        <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
          View all</a
        >
      </div>
    </div>
  </div>
</div>
